################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
goodfonDownloader/bin
goodfonDownloader/obj
goodfonDownloader/Web.Debug.config
goodfonDownloader/Web.Release.config
goodfonDownloader/*.csproj.user
