@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>goodfonDownloader</h1>
</div>

<div class="row">
    <div class="form-group">
        <h2>Getting started</h2>
        <form class="form-inline">
            <label for="categoriesImages" class="col-form-label col-form-label-lg">Категория</label>
            <select id="categoriesImages" class="form-control" style="display:inline-block">
                <option value="">Выберите категорию</option>
            </select>

            <button style="display:inline-block" type="button" class="btn btn-primary" id="download_section">Начать загрузку раздела:)</button>
            <a href="#" style="display:none"></a>
            <div class="col-md-auto" id="processingImagesDownload" style="display:none; margin-right:15px">
                <div class="loaderForAlumn">
                    <hr /><hr /><hr /><hr />
                </div>
            </div>
        </form>
       
    </div>
        <div id="bodyHtml" style="display:none">

        </div>

    </div>