@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>goodfonDownloader</h1>
</div>

<div class="row">
    <h2>Getting started</h2>
    <div class="form-group">
        <form class="form-inline">
            <label for="categoriesImages" class="col-form-label col-form-label-lg">Категория</label>
            <select disabled id="categoriesImages" class="form-control" style="display:inline-block">
                <option value="">Выберите категорию</option>
            </select>

            <button disabled style="display:inline-block" type="button" class="btn btn-primary" id="download_section">Начать загрузку раздела:)</button>
            <a href="#" style="display:none"></a>
        </form>

    </div>
    <div class="col-md-auto" id="processingImagesDownload" style="display:none; margin-right:15px">
        <div class="loaderForAlumn">
            <hr /><hr /><hr /><hr />
        </div>
    </div>
    <div class="progress" style="display:none; margin-top: 15px">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
        <div class="progress-bar-title" style = "font-family: 'Сomic Sans MS', Cursive"></div>
    </div>
    <div id="bodyHtml" style="display:none">

    </div>

</div>